@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  @apply text-white bg-gray-800;
}

.container {
  @apply flex justify-center pt-8 mx-64;
}

.datagrid {
  @apply table w-full;
}

.datagrid-border {
  border-color: rgba(255, 255, 255, 0.1);
}

.datagrid__row {
  @apply table-row;
}

.datagrid__header,
.datagrid__cell {
  @apply px-4 py-2 table-cell;
}

.datagrid__header {
  @apply font-bold align-middle;
  background-color: rgba(0, 0, 0, 0.1);
}

.datagrid div:first-child .datagrid__header:first-child {
  @apply rounded-tl;
}

.datagrid div:last-child .datagrid__cell:first-child {
  @apply rounded-bl;
}

.datagrid div:last-child .datagrid__cell:last-child {
  @apply rounded-br;
}

.datagrid div .datagrid__header {
  @apply datagrid-border border-l border-t;
}

.datagrid div:first-child .datagrid__header:last-child {
  @apply border-r rounded-tr;
}

.datagrid__cell {
  @apply datagrid-border border-t border-l;
}

.datagrid div.datagrid__row:last-child .datagrid__cell {
  @apply border-b;
}

.datagrid div.datagrid__row .datagrid__cell:last-child {
  @apply border-r;
}

.icon {
  @apply fill-current text-white w-4 h-4;
}

.icon > svg path {
  @apply fill-current text-white;
}
